<header>
    {% include header.html %}
</header>

<ul>
  <li><h4><a href="{{ site.base_url }}/pages/about.html">About</a></h4></li>
  <li><h4><a href="{{ site.base_url }}/pages/projects.html">Projects</a></h4></li>
</ul>

<!-- Github link -->           
<a href="http://github.com/jousby"  target="_blank">
  <img src="/assets/jousby/img/dojocat-sml.png"alt="View James Ousby's Github profile"></img>
</a>

<!-- LinkedIn link -->
<a href="http://au.linkedin.com/pub/james-ousby/2/2b4/a62" target="_blank">
  <img src="/assets/jousby/img/linked-in_34x34.png" alt="View James Ousby's LinkedIn profile"></img> 
</a>

<h3>Blog</h3>

<ul>
  <li><h4><a href="{{ site.base_url }}/pages/archive.html">Archive</a></h4></li>
  <li><h4><a href="{{ site.base_url }}/pages/categories.html">Categories</a></h4></li>
  <li><h4><a href="{{ site.base_url }}/pages/tags.html">Tags</a></h4></li>
</ul>

<h3>Recent Posts</h3>

<ul>
  {% for post in site.posts limit:5 %}
      <li><h4><a href="{{ post.url }}">{{ post.title }}</a></h4></li>           
  {% endfor %}  
</ul>